<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>a̵̢͉͋̈p̶̘͖̦̌́̀0̵̠̼̙͌̒͠c̵̢̣̆ǎ̶͉͖͙̿l̵͖͕̅y̵̼̮̍̇p̸̨͇̌̒̑ṣ̷̯̾ė̶̘̪̊</title>

    
  <link rel="apple-touch-icon" sizes="180x180" href="/ap0/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/ap0/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/ap0/favicon-16x16.png">
  <link rel="manifest" href="/ap0/site.webmanifest">

  <meta name="description"
    content="are you going to see the rose in the vase or the dust on the table?">

  <meta property="og:title" content="a̵̢͉͋̈p̶̘͖̦̌́̀0̵̠̼̙͌̒͠c̵̢̣̆ǎ̶͉͖͙̿l̵͖͕̅y̵̼̮̍̇p̸̨͇̌̒̑ṣ̷̯̾ė̶̘̪̊">
  <meta property="og:description"
    content="are you going to see the rose in the vase or the dust on the table?">
  <meta property="og:url" content="https://ap0calypse.rengar.dev/">
  <meta property="og:site_name" content="晋升">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://i.pinimg.com/736x/ff/de/99/ffde9907b71c9a44f00b9034f5197f58.jpg">
  <meta property="og:image:width" content="150">
  <meta property="og:image:height" content="150">
  <meta property="og:image:alt" content="ap0calypse.rengar.dev logo">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="晋升">
  <meta name="twitter:description"
    content="are you going to see the rose in the vase or the dust on the table?">
  <meta name="twitter:image" content="https://i.pinimg.com/736x/ff/de/99/ffde9907b71c9a44f00b9034f5197f58.jpg">

  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>

<body
  class="bg-[#181818] text-[#8e8e8e] font-mono min-h-screen flex flex-col justify-between p-8 selection:bg-neutral-700 selection:text-white">

  <main class="flex flex-col items-center justify-center flex-grow gap-8">
    <div
      style="-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))"
      ,>
      <div class="w-full max-w-lg flex justify-center overflow-x-auto">
        <pre
          style="letter-spacing: 0px; white-space: pre; font-size: clamp(15px, 1.1vw, 12px); display: inline-block; min-width: max-content;"
          class="text-neutral-500 select-none text-neutral-100">
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⣄⠀⠀⠀⣦⣤⣾⣿⠿⠛⣋⣥⣤⣀⠀⠀⠀⠀
⠀⠀⠀⠀⡤⡀⢈⢻⣬⣿⠟⢁⣤⣶⣿⣿⡿⠿⠿⠛⠛⢀⣄⠀
⠀⠀⢢⣘⣿⣿⣶⣿⣯⣤⣾⣿⣿⣿⠟⠁⠄⠀⣾⡇⣼⢻⣿⣾
⣰⠞⠛⢉⣩⣿⣿⣿⣿⣿⣿⣿⣿⠋⣼⣧⣤⣴⠟⣠⣿⢰⣿⣿
⣶⡾⠿⠿⠿⢿⣿⣿⣿⣿⣿⣿⣿⣈⣩⣤⡶⠟⢛⣩⣴⣿⣿⡟
⣠⣄⠈⠀⣰⡦⠙⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣟⡛⠛⠛⠁
⣉⠛⠛⠛⣁⡔⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠥⠀⠀
⣭⣏⣭⣭⣥⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⢠
      </pre>
      </div>
    </div>

    <form class="w-full max-w-sm flex flex-col gap-4 text-sm" action="/" method="POST">
      <div class="flex items-center justify-between gap-4">
        <label for="user" class="w-16 text-right text-neutral-400">user</label>
        <input id="user" name="username" type="text" placeholder="john doe" required
          class="flex-1 bg-neutral-800/50 border border-neutral-800 rounded px-3 py-1.5 text-neutral-300 placeholder-neutral-600 focus:outline-none focus:border-neutral-600 transition" />
      </div>

      <div class="flex items-center justify-between gap-4">
        <label for="passwd" class="w-16 text-right text-neutral-400">passwd</label>
        <input id="passwd" name="password" type="password" placeholder="*******" required
          class="flex-1 bg-neutral-800/50 border border-neutral-800 rounded px-3 py-1.5 text-neutral-300 placeholder-neutral-600 focus:outline-none focus:border-neutral-600 transition" />
      </div>
      <center>
        <div class="mt-5 cf-turnstile" data-sitekey="{{.TurnstileSiteKey}}"></div>
      </center>
      <button type="submit" class="hidden"></button>
    </form>
  </main>

  <footer class="text-xs text-neutral-500 flex flex-col md:flex-row justify-center items-center gap-1 md:gap-2">
    <span>{{.IP}}</span>
    <span class="hidden md:inline">|</span>
    <span class="text-center truncate max-w-[90vw] md:max-w-none">{{.UserAgent}}</span>
  </footer>

</body>

</html>