<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <title>{{.Manga.Title}} ⋆.˚ ap0calypse</title>

    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="1680">

    <meta property="og:type" content="book">
    <meta property="og:title" content="{{.Manga.Title}}">
    <meta property="og:description" content="{{.Manga.Description}}">
    <meta property="og:url" content="{{.PageURL}}">

    {{with .Manga.PreviewImageURL}}i
    <meta property="og:image" content="{{.}}">
    {{end}}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{.Manga.Title}}">
    <meta name="twitter:description" content="{{.Manga.Description}}">

    {{with .Manga.PreviewImageURL}}
    <meta name="twitter:image" content="{{.}}">
    {{end}}


<body>
    <p>
        <a href="{{.PageURL}}">{{.Manga.Title}}</a>
    </p>
</body>

</html>